@model SanPhamModel

<h4>Chỉnh sửa sản phẩm</h4>
<div class="col-md-9">
    <form asp-action="Edit" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label>Ten</label>
            <input asp-for="Ten" class="form-control" />
            <span asp-validation-for="Ten" class="text-danger" />
        </div>

        <div class="form-group">
            <label>Gia</label>
            <input asp-for="Gia" class="form-control" />
            <span asp-validation-for="Gia" class="text-danger" />
        </div>

        <div class="form-group">
            <label>MoTa</label>
            <textarea asp-for="MoTa" class="form-control"></textarea>
            <span asp-validation-for="MoTa" class="text-danger" />
        </div>

        <div class="form-group">
            <label>DanhMuc</label>
            <select asp-for="DanhMucId" class="form-control" asp-items="ViewBag.DanhMucs">
                <option>Chọn sản phẩm</option>
            </select>
            <span asp-validation-for="DanhMucId" class="text-danger" />
        </div>

        <div class="form-group">
            <label>Brand</label>
            <select asp-for="BrandId" class="form-control" asp-items="ViewBag.Brands">
                <option>Chọn thương hiệu</option>
            </select>
            <span asp-validation-for="BrandId" class="text-danger" />
        </div>
        <div class="form-group">
            <label>Hinh</label>
            <input asp-for="TaiHinh" class="form-control-file" />

            <span asp-validation-for="TaiHinh" class="text-danger" />
            <img src="~/media/sanphams/@Model.Hinh" width="120">
        </div>






        <div class="form-group">
            <button class="btn btn-success">Cập nhật</button>

        </div>
    </form>
    <a asp-action="Index" class="btn btn-danger">Quay về trang danh sách sản phẩm</a>

</div>

@*@section Scripts{
    @{
        //sử dụng ckeditor 4 để hiện thị cái thanh edit
        await Html.RenderPartialAsync("_ValidationScriptsPartial"); //dungf chayj required trong SanPhamModel: "yeu cauf...."
    }
    <script src="https://cdn.ckeditor.com/4.22.1/standard/ckeditor.js"></script>
    <script>
        CKEDITOR.replace('MoTa'); //chir chạy với các text
    </script>
}*@

