@{
    ViewData["Title"] = "Error Search";
}

<h1>Lỗi tìm kiếm</h1>
<p>Xin lỗi, có sự cố xảy ra với yêu cầu tìm kiếm của bạn(Tìm kiếm phải tuân thủ quy tắt không có kí tự đặt biệt).</p>
<p>Vui lòng thử lại.</p>


<!-- Nút quay về trang chủ -->
<a class="btn btn-primary" href="@Url.Action("Index", "Home")">Quay về trang chủ</a>
